/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/robotomedium.woff2") format("woff2"),
         url("/fonts/robotomedium.woff") format("woff");
         font-weight: 500;
         font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/robotobold.woff2") format("woff2"),
         url("/fonts/robotobold.woff") format("woff");
         font-weight: 700;
         font-style: normal;
}

:root {
    /* Background-colors */

    --basick-white: #FFFFFF;
    --basic-extra-white: #EEEEEE;
    
    /* Text Background-colors */

    --basic-black: #000000;
    --text-color-dark: #444444;
    --text-table-dark: #D7DCDE;
    --focus-table-dark: #B4B9BB;
    --text-extra-dark: #4D4D4D;
    --text-black: #283136;
    
    /* Normal Background-colors */

    --normal-red: #FB565A;
    --normal-green: #00CA74;
    --normal-yellow: #EFC849;
    --normal-dark: #E1E1E1;

    /* Focus Background-colors */

    --focus-red: #E74246;
    --focus-green: #00BC6C;
    --focus-yellow: #EAB534;
    --focus-dark: #DFDFDF;

    /* Active Background-color */

    --active-red:#D7373B;
    --active-green: #00AA62;
    --active-yellow: #E5A722;
    --active-dark: #D5D5D5;
    --active-extra-dark:  #DBDBDB;
    
    /*  Extra Colors */

    --basic-dark: #A6A6A6;
    --basic-neutral: #C1C1C1;
    --basic-background-dark:#F2F2F2;
    --special-extra-dark: #888888;
    --special-white: #666666;
    --range-dark: #ababab;

}

/* Gloal */

.page-body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-extra-dark);
    background-color: var(--basick-white);  
    
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body a {
    text-decoration: none;
  }

.page-body img {
    max-width: 100%;
    height: auto;
  }


.page {
    height: 100%;
}

/* Main header */

.main-header {
    background-color: var(--basic-extra-white);
}

  /* Logo */

.main-header-logo {
    width: 160px;
}

.adjustments {
    width: 1157px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box; 
} 

/* Main navigation */

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    padding: 0 10;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    width: 1160px;
    box-sizing: border-box;

}

.main-header-logo {
    margin-right: 130px;
}


.header-logo-active:hover,
.header-logo-active:focus {
    opacity: 0.5;
}

.header-logo-active:active {
    opacity: 0.3;
}

.site-navigation {
    list-style: none;
    width: 572px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-left:  30px;
}

.site-navigation li {
    margin-right: 45px;
}

.site-navigation-current a:not([href]) {
    background-color: var(--normal-red);
}

  /* User navigation */

.user-navigation {
    width: 115px;
    margin-left: 130px; 
    position: relative;
}

.user-navigation a {
   /* padding-left: 65px; */
}

.user-navigation .bag::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -30px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

  
.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--normal-red);
  cursor: pointer;
}


.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);

}
/* Slider */

.slider-section {
    background-color: var(--basic-extra-white); 
}

.slider {
    position: relative;
}

.slider-list {
   list-style: none; 
   margin: 0;
   padding: 0;
}
 
.slider-slides {
    padding-top: 70px;
    padding-bottom: 72px;
    background-position: 100%;
    background-repeat: no-repeat;
}

.slide-first {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-1.png");
}

.slide-second {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-2.png");
}

.slide-third {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-3.png");
}

.slide-current {
    display: block;
}

.slier-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    word-wrap: break-all;
    width: 538px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
}

.slider-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black);
    word-wrap: break-all;
    width: 416px;
    margin: 0;
    margin-bottom: 38px;
  }

.slider-link{
    display: inline-block;
    width: 210px;
    padding: 16px;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--basick-white);
    background-color: var(--normal-red);
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.slider-list a:hover,
.slider-list a:focus {
    background-color: var(--focus-red);
}

.slider-list a:active,
.slider-list a:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-controls {
    position: absolute;
    top: 435px;
    left: 48%;
    margin: 0;
    display: flex;
    width: 88px;
    justify-content: space-between;
    
  }

  .slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-color: var(--basick-white);
    border: 2px solid var(--basick-white);
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-controls .control-current::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px; 
    background-color: transparent;
    background-color: var(--basick-white);
    border: 2px solid  var(--basic-neutral);
    border-radius: 50%;
    left: 5px;
    top: 5px;
    box-sizing: border-box; 
  }
 


/* Service Grid */

.service {
    width: 1158px;
    padding: 0 10px;
    margin: 0 auto;
    padding-top: 87px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--basic-extra-white);
}

.service-container {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 55px;
   
}

.service-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    /* margin-top: 25px; */
    padding-top: 20px;
    padding-left: 5px;
    text-transform: uppercase;
}

.service-description {
    width: 260px;
    word-wrap: break-all;
}

.service-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basick-white);
    display: inline-block ;
    width: 130px;
    border-radius: 3px;
    padding: 17px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 15px;
   
}


.service-laptop a {
    background-color: var(--normal-red);
}

.service-laptop a:hover,
.service-laptop a:focus {
    background-color: var(--focus-red);
    cursor: pointer;
}

.service-laptop a:active,
.service-laptop a:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-phone a {
    background-color:var(--normal-green);
}

.service-phone a:hover,
.service-phone a:focus {
    background-color: var(--focus-green); 
    cursor: pointer;
}

.service-phone a:active,
.service-phone a:focus {
    background-color: var(--active-green); 
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-presentation a {
    background-color: var(--normal-yellow);
    cursor: pointer;
}

.service-presentation a:hover,
.service-presentation a:focus {
    background-color: var(--focus-yellow);
    
}

.service-presentation a:active,
.service-presentation a:focus {
    background-color: var(--active-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* -------------------- */

/* Catalog Main Grid */

.page-catalog {
    display: grid;
    align-content: start;
  }

.catalog-adjustments {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 180px 1fr; 

}

/* Catalog Main */

.filters {
    grid-column: 1 / -1;
    /* margin-top: 55px;
    margin-bottom: 48px; */
    display: flex;
    /* justify-content: space-around; */
    box-sizing: border-box; 
    position: relative;
}

.title-background {
    grid-column: 1 / -1;
    background-color: var(--basic-extra-white);
}

.catalog-title {
    font-weight: 500;
    font-size: 55px; 
    line-height: 55px;
    color: var(--basic-black);
    margin-top: 65px;
    padding-left: 18px;
    text-align: center;
    margin-bottom: 108px;
   
}

.catalog-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 55px;
    padding-left: 10px;
}

.filter-title {
    padding-top: 55px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    padding-left: 210px;
    text-transform: uppercase;
    margin: 0;
}

.filters2 {
    padding-top: 45px;
    padding-left: 10px;
}

.filler2 {
    padding-top:54px;
}
.filler2-list li:first-child {
    margin-top: 17px;
}

.filler3 {
    padding-top: 47px;
}

.price-option-list li {
    margin: 0;
   margin-top: 19px;
}
.price-option-list li:first-child {
   margin-top: 17px;
}

.price {
    width: 260px;
   
}

.price fieldset  {
    padding: 0;
    margin: 0;
    border: none;
}


/* Breadcrumbs */

.breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-left: 270px;
    cursor: pointer;
    margin: 0;
    padding-top: 60px;
}

.breadcrumbs li {
    margin-right: 10px;
}

.breadcrumbs a {
    color: var(--basic-black);
    text-transform: uppercase;
    opacity: 0.3;
}


.breadcrumbs-current {
    color: var(--basic-black);
    text-transform: uppercase;
}
.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6;
}

.breadcrumbs a:active,
.breadcrumbs a:focus {
    opacity: 1;
}

.icon-container  {
   margin: 0;
   padding: 0;
   padding-top: 63px;
   padding-left: 40px;
   cursor: pointer;
   position: relative;
   box-sizing: border-box; 
}

.icon-container .icon-current {
    width: 11px;
    height: 10;
    background-image: url("../img/icon-up-dir.svg");
    background-repeat: no-repeat;
}
.icon-container .icon-up-dir {
    width: 11px;
    height: 10;
    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
}

.icon-container a {
    padding-left: 20px;
    
}

.icon-current:hover,
.icon-current:focus {
    opacity: 0.3;

}





/* ___________________ */


/* Price form */

.price legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.filter-item {
    margin: 0;
    padding: 0;
    border: none;
  }


.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-extra-white);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
  }

.range-controls .scale {
    height: 2px;
    background: var(--text-table-dark);
  }

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--normal-green);

  }

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basick-white);
    background-color: var(--range-dark);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;

  }

.range-controls .toggle-min {
    left: 18px;
  }
  
.range-controls .toggle-max {
    left: 160px;
  }

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--text-black);
    border: none;
    border-radius: 5px;
    background: var(--basic-extra-white);
    font-family: inherit;
    font-size: inherit;
  }

.price-controls label {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
  }

.price-controls {
    display: flex;
    justify-content: space-between;
  }

  /* ---- */



.price ul {
    list-style: none;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-black);
    margin: 0 ;

}

.price-option {

    margin-top: 18px;
}

.price-option  label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.price-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -3px;
    width: 20px;
    height: 20px;
    border: 4px solid var(--text-extra-dark);
    opacity: 0.4;
    border-radius: 50%;
}

.price-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -30px;
    width: 9px;
    height: 9px;
    background-color: var(--text-extra-dark);
    opacity: 0.4;
    border-radius: 50%;
}
.price-input-radio + label:hover::before {
    opacity: 1;
}
.price-input-radio:checked + label:hover::after {
    opacity: 1;
}



.price-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.price-input-checkbox + label:hover::before,
.price-input-checkbox + label:focus:before {
    opacity: 1;
}

.price-input-checkbox + label:disabled:hover::before,
.price-input-checkbox + label:disabled:focus:before {
    opacity: 0.2;
}


.price-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -38px;
    width: 25px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
}

.price-input-checkbox:checked + label:hover::before,
.price-input-checkbox:checked + label:focus:before {
    opacity: 1;
}

 
.price-buttun {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    background-color: var(--basic-extra-white);
    border: none;
    border-radius: 3px;
    display: inline-block;
    width: 260px;
    padding: 17px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 48px;
    cursor: pointer;
}

.price-buttun:hover,
.price-buttun:focus {
    background-color: var(--focus-dark);
}

.price-buttun:active,
.price-buttun:focus {
    background-color: var(--focus-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* ------------ */
  /* Template */

/* Catalog Price */

.catalog {
    margin-left: 141px;
    margin-top: 48px;
}


.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 55px;
    list-style: none;
    
}

.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--basic-extra-white);
    transition: .5s ease;
    opacity:0;
}


.overlay:hover {
    opacity: 1;
}


.catalog-item {
    background-color: var(--basic-background-dark);
    border-radius: 5px;
    width: 359px;
    min-height: 578px;
    margin-right: 42px;
    margin-bottom: 32px;
    background-color: var(--basic-extra-white);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    
}

.catalog-item img {
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.catalog-item a {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;

}

.catalog-description {
    color: var(--special-white);
    text-align: center;
    word-wrap: break-all;
    width: 255px;
    margin: 0 auto;
    /* margin-top: 12px; */
    /* margin-bottom: 32px; */

}

.catalog-item-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basick-white);
    background-color: var(--normal-red);
    display: inline-block;
    width: 200px;
    padding: 17px;
    border-radius: 3px;
    margin-bottom: 30px;
    cursor: pointer;
}

.catalog-item-price:hover,
.catalog-item-price:focus {
    background-color: var(--focus-red);
}

.catalog-item-price:active,
.catalog-item-price:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}




/* About company / Grid*/

.about {
    /* display: grid;
    grid-template-columns: 1fr min-content; */
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    /* margin-bottom: 20px; */
    width: 1174px;
   
}

.about-container {
    width: 651px;
}



.about-text {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    word-wrap: break-all;
    width: 651px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 10px;
   
} 

.about-text1 {
    word-wrap: break-all;
    width: 645px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-left: 10px;
}


.about-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    padding-left: 10px;
}

.about-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.9;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-left: 45px;
}

.about-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--normal-red);
    margin-top: 16px;
    margin-left: -35px;
}


/* -------------- */
.sidebar {
    width: 360px;
    padding-top: 5px;
}


.sidebar-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 31px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    padding-left: 30px;

}


.sidebar-item {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 5px;
}

.box {
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
}

/* Partners of the company */
.partnership {
    border-top: 2px solid var(--basic-extra-white);
    border-bottom: 2px solid var(--basic-extra-white);
    height: 180px;
    margin-top: 70px;
    margin-bottom: 80px;
    width: 1159px;
   
}


.partnership-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;  */
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    position: relative;
   
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}


.partnership-item::after {
    content: "";
    position: absolute;
    margin-left: 45px;
    width: 2px;
    height: 52px;
    background-color: var(--basic-extra-white);
    top: 20px;
   
}

.partnership-item:last-child:after {
    display: none; 
}

.partnership-item img {
    opacity: 0.2;
}

.partnership-item img:hover,
.partnership-item img:focus {
    opacity: 1;
    cursor: pointer;
}

.partnership-item img:active,
.partnership-item img:focus {
    opacity: 0.1;
}

/* ----------------- */

/* Pagination */

.pagination-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.pagination-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 50px;
    color: var(--basic-black);
    background-color: var(--basic-extra-white);
    border-radius: 3px;
    margin-right: 31px;
}


.pagination-list li:last-child {
    width: 260px;
    margin-right: 0;
}


.pagination-list a {
    display: inline-block;
    text-decoration: none;
    color: var(--basic-black);
    padding-top: 17px;
}


.pagination-item:hover,
.pagination-item:focus {
    background-color: var(--focus-dark);
    cursor: pointer;
}


.pagination-item:focus,
.pagination-item:active {
    background-color: var(--active-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:focus,
.pagination-item-current:active {
    background-color: var(--basick-white);
    border: 3px solid var(--active-extra-dark);
    box-shadow: none;
    box-sizing: border-box;
}    
/* Footer */

.main-footer {
  
}

.map img {
    width: 100%;
    min-height: 416px;
}

.address-wrapper {
    margin: 0 auto;
    padding-left: 20px;
    width: 1159px;
    position: relative;
}

.address {
    position: absolute;
    background-color: var(--basick-white);
    bottom: 70px;
    box-sizing: border-box;
    padding-top: 49px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 47px;
    margin: 0 auto;
   }

.map-titel {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.address p {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 10px;
    margin: 0;
    color: var(--special-white);
    margin-bottom: 5px;
}

.address a {
   margin-top: 27px;
   margin-bottom: 10px;

}


.map-button {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basick-white);
    background-color: var(--normal-red);
    display: inline-block;
    padding: 17px;
    width: 190px;
    border-radius: 3px;
    cursor: pointer;
}

.map-button:hover,
.map-button:focus {
    background-color: var(--focus-red);
}

.map-button:active,
.map-buttonprice:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Social */

/* Socoal flex */

.footer-social {
    display: flex;
    /* padding-left: 20px; */
    margin-left: 20px;
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 45px;
    margin-bottom: 68px;
    width: 1157px;
    padding: 0 10px;
}

.social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    
}

.footer-slogan {
    margin-left: 140px;
}


.social-icon {
    background-color: var(--active-dark);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 9px;
    width: 78px;
    height: 78px;
}

.social-link {
    display: inline-block;
    padding: 27px;
    cursor: pointer;
}



.social-list .social-icon:hover,
.social-list .social-icon:focus {
    background-color: var(--focus-red);
    
}

.social-list .social-icon:active,
.social-list .social-icon:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    
}

.footer-copyright {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 10px;
}

.footer-copyright2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}


/* Popua */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:  auto;
    background-color: var(--basick-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: none;
}

.modal-map {
    width: 960px;
    padding-top: 63px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 99px;
    top: 80px;
    bottom: auto;
   
}

.modal-form {
    display: block;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 760px;
}

.modal-form label {
    display: block;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
}

.modal-container 
.modal-row1 {
    margin-right: 40px;
}

.modal-row1, .modal-row2 {
    width: 360px;
    margin: 0;
    padding: 0;
}
.modal-row1 input, .modal-row2 input {
    width: 360px;
}

.modal-container2 {
    padding-top: 34px;
}


.modal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom:  37px;
    
}


.modal-container input,
.modal-container2 textarea {
    background: var(--basick-white);
    border: 2px solid var(--text-table-dark);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px;
}

.modal-container2 textarea {
    width: 100%;
    min-height: 118px;
    margin-bottom: 47px;
}

.modal-container input:hover,
.modal-container2 textarea:hover {
    border-color: var(--focus-table-dark);
}

.modal-container input:focus,
.modal-container2 textarea:focus {
    border-color: var(--basic-black);
    color: var(--basic-black);
}

.modal-container input:active,
.modal-container2 textarea:active {
    border-color: var(--active-red);
    
}

.modal-button {
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basick-white);
    background-color: var(--normal-red);
    border: none;
    display: inline-block;
    padding: 16px;
    width: 259px;
    border-radius: 3px;
   
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--focus-red);
}

.modal-button:active,
.modal-button:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 78px;
    right: 90px;
    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active,
.modal-close:focus {
    opacity: 0.1;
}

