/* Fonts */

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
         font-weight: 400;
         font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/robotomedium.woff2") format("woff2"),
         url("/fonts/robotomedium.woff") format("woff");
         font-weight: 500;
         font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/robotobold.woff2") format("woff2"),
         url("/fonts/robotobold.woff") format("woff");
         font-weight: 700;
         font-style: normal;
}

:root {
    /* Background-colors */

    --basick-white: #FFFFFF;
    --basic-extra-white: #EEEEEE;
    
    /* Text Background-colors */

    --basic-black: #000000;
    --text-color-dark: #444444;
    --text-table-dark: #D7DCDE;
    --focus-table-dark: #B4B9BB;
    --text-extra-dark: #4D4D4D;
    --text-black: #283136;
    
    /* Normal Background-colors */

    --normal-red: #FB565A;
    --normal-green: #00CA74;
    --normal-yellow: #EFC849;
    --normal-dark: #E1E1E1;

    /* Focus Background-colors */

    --focus-red: #E74246;
    --focus-green: #00BC6C;
    --focus-yellow: #EAB534;
    --focus-dark: #DFDFDF;

    /* Active Background-color */

    --active-red:#D7373B;
    --active-green: #00AA62;
    --active-yellow: #E5A722;
    --active-dark: #D5D5D5;
    --active-extra-dark:  #DBDBDB;
    
    /*  Extra Colors */

    --basic-dark: #A6A6A6;
    --basic-neutral: #C1C1C1;
    --basic-background-dark:#F2F2F2;
    --special-extra-dark: #888888;
    --special-white: #666666;
    --range-dark: #ababab;

}

/* Gloal */

.page-body {
    min-width: 1440px;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: var(--basic-extra-dark);
    background-color: var(--basick-white);  
    
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-body a {
    text-decoration: none;
  }

.page-body img {
    max-width: 100%;
    height: auto;
  }


.page {
    height: 100%;
}

/* Main header */

.main-header {
    background-color: var(--basic-extra-white);
}

  /* Logo */

.main-header-logo {
    width: 160px;
}

.adjustments {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box; 
} 

/* Main navigation */

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-black);
    /* padding: 0 10px; */
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1180px;
    box-sizing: border-box;

}

.main-header-logo {
    margin-right: 155px;
   
}


.header-logo-active:hover,
.header-logo-active:focus {
    opacity: 0.5;
}

.header-logo-active:active {
    opacity: 0.3;
}

.site-navigation {
    list-style: none;
    width: 572px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
}

.site-navigation li {
    margin-right: 45px;
}

.site-navigation-active {
  position: relative;
}

.site-navigation-active::after {
  content: "";
  position: absolute;
  width: 73px;
  height: 2px;
  background-color: var(--normal-red);
  right: 0;
  bottom: -17px;
  left: 0;
 
}

.site-navigation-current a:not([href]) {
    background-color: var(--normal-red);
}

  /* User navigation */

.user-navigation {
    width: 115px;
    margin-left: auto; 
    position: relative;
    text-align: right;
}

.bag {
    padding-left: 30px;
}

.user-navigation .bag::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0px;
    width: 15px;
    height: 15px;
    background-image: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
}

  
.site-navigation a,
.user-navigation a {
    color: var(--basic-black);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--normal-red);
  cursor: pointer;
}


.site-navigation a:active,
.user-navigation a:active {
    opacity: 0.3;
    color: var(--basic-black);

}
/* Slider */

.slider-section {
    background-color: var(--basic-extra-white); 
}

.slider {
    position: relative;
    width: 1180px;
  
}

.slider-list {
   list-style: none; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
 
.slider-slides {
    padding-top: 68px;
    padding-bottom: 70px;
    background-position: 100%;
    background-repeat: no-repeat;
}

.slide-first {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-1.png");
}

.slide-second {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-2.png");
}

.slide-third {
    display: none;
    background-image: url("../img/slider/nerds-index-slide-3.png");
}

.slide-current {
    display: block;
}

.slier-title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    word-wrap: break-all;
    width: 538px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
}

.slider-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-black);
    word-wrap: break-all;
    width: 416px;
    margin: 0;
    margin-bottom: 38px;
  }

.slider-link{
    display: inline-block;
    width: 205px;
    padding: 17px;
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--basick-white);
    background-color: var(--normal-red);
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
}

.slider-list a:hover,
.slider-list a:focus {
    background-color: var(--focus-red);
}

.slider-list a:active,
.slider-list a:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-controls {
    position: absolute;
    top: 435px;
    left: 47%;
    margin: 0;
    display: flex;
    width: 88px;
    justify-content: space-between;
    
  }

  .slider-controls button {
    padding: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-color: var(--basick-white);
    border: 2px solid var(--basick-white);
    border-radius: 50%;
    cursor: pointer;
  }

  .slider-controls .control-current::after {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px; 
    background-color: transparent;
    background-color: var(--basick-white);
    border: 2px solid  var(--basic-neutral);
    border-radius: 50%;
    left: 5px;
    top: 5px;
    box-sizing: border-box; 
  }
 


/* Service Grid */

.service {
    width: 1190px;
    /* padding: 0 10px; */
    margin: 0 auto;
    padding-top: 87px;
    padding-bottom: 75px;
    border-bottom: 2px solid var(--basic-extra-white);
}

.service-container {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    gap: 30px;
   box-sizing: border-box;
}

.service-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-transform: uppercase;
}

.service-description {
    width: 260px;
    word-wrap: break-all;
}

.service-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basick-white);
    display: inline-block ;
    width: 130px;
    border-radius: 3px;
    padding: 17px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-top: 15px;
   
}


.service-laptop a {
    background-color: var(--normal-red);
}

.service-laptop a:hover,
.service-laptop a:focus {
    background-color: var(--focus-red);
    cursor: pointer;
}

.service-laptop a:active,
.service-laptop a:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-phone a {
    background-color:var(--normal-green);
}

.service-phone a:hover,
.service-phone a:focus {
    background-color: var(--focus-green); 
    cursor: pointer;
}

.service-phone a:active,
.service-phone a:focus {
    background-color: var(--active-green); 
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.service-presentation a {
    background-color: var(--normal-yellow);
    cursor: pointer;
}

.service-presentation a:hover,
.service-presentation a:focus {
    background-color: var(--focus-yellow);
    
}

.service-presentation a:active,
.service-presentation a:focus {
    background-color: var(--active-yellow);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* About company */

.about {
    display: flex;
    padding-top: 40px;
    /* margin-bottom: 20px; */
    width: 1184px;
    justify-content: space-between;
}

.about-container {
    width: 651px;
}

.about-text {
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    word-wrap: break-all;
    width: 651px;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    padding-left: 5px;
   
} 

.about-text1 {
    word-wrap: break-all;
    width: 645px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-left: 5px;
}


.about-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    padding-left: 5px;
}

.about-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.about-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    line-height: 1.9;
    padding: 0;
    margin: 0;
    padding-top: 18px;
    padding-left: 40px;
}

.about-item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--normal-red);
    margin-top: 16px;
    margin-left: -35px;
}


/* -------------- */
.sidebar {
    width: 370px;
}


.sidebar-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 37px;
    margin-bottom: 31px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 23px;
    padding-right: 8px;
   
}


.sidebar-item {
    font-weight: 700;
    font-size: 45px;
    line-height: 64px;
    color: var(--basic-black);
    margin: 0;
    padding: 0;
    padding-top: 30px;
    text-align: left;
    padding-left: 7px;
    padding-bottom: 1px;
}


.box {
    font-size: 26px;
    line-height: 40px;
    vertical-align: top;
}

.sidebar-list2 {

  text-align: left;
}

.sidebar-item2 {
  padding-left: 7px;
}

/* Partners of the company */
.partnership {
    border-top: 2px solid var(--basic-extra-white);
    border-bottom: 2px solid var(--basic-extra-white);
    height: 180px;
    margin-top: 70px;
    margin-bottom: 80px;
    width: 1200px;
   
}

.partnership-list {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: space-around;  */
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}


.partnership-item::after {
    content: "";
    position: absolute;
    margin-left: 45px;
    width: 2px;
    height: 52px;
    background-color: var(--basic-extra-white);
    top: 20px;
   
}

.partnership-item:last-child:after {
    display: none; 
}

.partnership-item img {
    opacity: 0.2;
}

.partnership-item img:hover,
.partnership-item img:focus {
    opacity: 1;
    cursor: pointer;
}

.partnership-item img:active,
.partnership-item img:focus {
    opacity: 0.1;
}

/* ---- */

/* Catalog Main */

.page-catalog-inner {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 55px;
  }

.title-background {
    background-color: var(--basic-extra-white);
    padding-top: 65px;
    padding-bottom: 108px;
  }

.catalog-title {
    font-weight: 500;
    font-size: 55px; 
    line-height: 55px;
    color: var(--basic-black);
    text-align: center;
    padding: 0;
    margin: 0;
   
  }

.price {
    width: 260px;
   
  }

.price fieldset  {
    padding: 0;
    margin: 0;
    border: none;
  }

.price legend {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    
  }
  

.catalog-filters1 {
    margin-right: 140px;
  }

.catalog-price {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    padding-bottom: 49px;
    
  }

  .range-controls {
    position: relative;
    height: 41px;
    background-color: var(--basic-extra-white);
    border-radius: 5px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .range-controls .scale {
    height: 2px;
    background: var(--text-table-dark);
  }
  
  .range-controls .bar {
    width: 70%;
    height: 2px;
    background: var(--normal-green);
  
  }
  
  .range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basick-white);
    background-color: var(--range-dark);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    cursor: pointer;
  
  }
  
  .range-controls .toggle-min {
    left: 18px;
  }
  
  .range-controls .toggle-max {
    left: 160px;
  }
  
  .price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--text-black);
    border: none;
    border-radius: 5px;
    background: var(--basic-extra-white);
    font-family: inherit;
    font-size: inherit;
  }
  
  .price-controls label {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
  }
  
  .price-controls {
    display: flex;
    justify-content: space-between;
  }

  .filter-fieldset2 
  .price-option-legend {
    padding: 0;
    padding-top: 50px;
     
  }

.price-option-legend {
    display: flex;
    box-sizing: border-box; 
    position: relative;
  } 

.price-option-list {
     padding-left: 35px;
     padding-bottom: 30px; 
  } 
  
  
.price-option-list li {
    margin-top: 19px;
   }

.price-option-list2 {
  margin-bottom: 13px;
  padding-left: 35px;
}

.price-option-list2
.price-option:first-child {
  margin-top: 0;
}

.price-option-list2
.price-option {
  margin-top: 0;
  margin-top: 19px;
  /* padding-left: 0px; */
}
  
 
    
  .price-option  label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
  }
  
  .price-input-radio + label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -3px;
    width: 20px;
    height: 20px;
    border: 4px solid var(--text-extra-dark);
    opacity: 0.4;
    border-radius: 50%;
  }
  
  .price-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -30px;
    width: 9px;
    height: 9px;
    background-color: var(--text-extra-dark);
    opacity: 0.4;
    border-radius: 50%;
  }
  .price-input-radio + label:hover::before {
    opacity: 1;
  }
  .price-input-radio:checked + label:hover::after {
    opacity: 1;
  }
  
  .price-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -38px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
  }
  
  .price-input-checkbox + label:hover::before,
  .price-input-checkbox + label:focus:before {
    opacity: 1;
  }
  
  .price-input-checkbox + label:disabled:hover::before,
  .price-input-checkbox + label:disabled:focus:before {
    opacity: 0.2;
  }
  
  
  .price-input-checkbox:checked + label::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -38px;
    width: 25px;
    height: 28px;
    background-image: url("../img/checkbox-on.svg");
    background-repeat: no-repeat;
    opacity: 0.4;
  }
  
  .price-input-checkbox:checked + label:hover::before,
  .price-input-checkbox:checked + label:focus:before {
    opacity: 1;
  }
  
  
  .price-buttun {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    background-color: var(--basic-extra-white);
    border: none;
    border-radius: 3px;
    display: inline-block;
    width: 260px;
    padding: 17px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin-top: 40px;
    cursor: pointer;
    padding-left: 10px;
  }
  
  .price-buttun:hover,
  .price-buttun:focus {
    background-color: var(--focus-dark);
  }
  
  .price-buttun:active,
  .price-buttun:focus {
    background-color: var(--focus-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }

  .filters2 {
    display: flex;
   flex-wrap: wrap;
    
  }

  /* Breadcrumbs */

  .filter2-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-right: 265px;
  }
  
  .breadcrumbs {
    list-style: none;
    display: flex;
    padding: 0;
    cursor: pointer;
    margin: 0;
    margin-top: 5px;
 }

  .breadcrumbs li {
    margin-right: 18px;
  }
  
  .breadcrumbs a {
    color: var(--basic-black);
    text-transform: uppercase;
    opacity: 0.3;
  }
  
  
  .breadcrumbs-current {
    color: var(--basic-black);
    text-transform: uppercase;
  }
  .breadcrumbs a:hover,
  .breadcrumbs a:focus {
    opacity: 0.6;
  }
  
  .breadcrumbs a:active,
  .breadcrumbs a:focus {
    opacity: 1;
  }
  
  .icon-container  {
   margin: 0;
   padding: 0;
   cursor: pointer;
   position: relative;
   box-sizing: border-box;
   text-align: right;
   margin-top: 3px;
   padding-left: 7px;

  }
  
  .icon-container a {
    padding-left: 7px;
  }

.icon-up-dir {
  opacity: 0.3;
}

.icon-up-dir:hover,
.icon-up-dir:focus {
  opacity: 0.6;
}

.icon-up-dir:active,
.icon-up-dir:focus {
  opacity: 1;
}
  

  
  .price ul {
    list-style: none;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-black);
    /* margin: 0 ; */
  
  }
  
.catalog {
    margin-top: 47px;
  }
  
  
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
    list-style: none;
    justify-content: space-between;
  }
  
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--basic-extra-white);
    transition: .5s ease;
    opacity:0;
  }

.catalog-item:hover .catalog-item-box,
.catalog-item:hover .overlay {
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: .5s ease;
  }
  
  
.catalog-item {
    background-color: var(--basic-background-dark);
    border-radius: 5px;
    width: 360px;
    min-height: 578px;
    margin-right: 42px;
    background-color: var(--basic-extra-white);
   
    text-align: center;
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
  }
  
.catalog-item img {
    display: block;
    width: 100%;
    margin-top: 40px;
    box-sizing: border-box;
  }

.catalog-item-box {
    position: absolute;
    left: 0;
    opacity: 0.12;
    transition: .5s ease;
  }
  
.catalog-item-title {
    color: var(--basic-black);
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 9px;
    padding-top: 26px;
  }
  
.catalog-description {
    color: var(--special-white);
    text-align: center;
    word-wrap: break-all;
    width: 255px;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 25px;
  
  }
  
  .catalog-item-price {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basick-white);
    background-color: var(--normal-red);
    display: inline-block;
    width: 167px;
    padding: 17px;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 41px;
    cursor: pointer;
  }
  
  .catalog-item-price:hover,
  .catalog-item-price:focus {
    background-color: var(--focus-red);
  }
  
  .catalog-item-price:active,
  .catalog-item-price:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }
  
  
  /* Pagination */
  
  .pagination-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-bottom: 20p;
    padding-bottom:60px;
  }
  
  .pagination-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    /* display: inline-block; */
    text-align: center;
    width: 50px;
    height: 50px;
    color: var(--basic-black);
    background-color: var(--basic-extra-white);
    border-radius: 3px;
    margin-right: 10px;
    text-transform: uppercase;
    
  }
  

  .pagination-list li:last-child {
    width: 260px;
    margin-right: 0;
  }
  
  
  .pagination-list a {
    display: inline-block;
    text-decoration: none;
    color: var(--basic-black);
    padding: 17px;
  }
  
  
  .pagination-item:hover,
  .pagination-item:focus {
    background-color: var(--focus-dark);
    cursor: pointer;
  }
  
  .pagination-item:focus,
  .pagination-item:active {
    background-color: var(--active-dark);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  }
  
  .pagination-item-current,
  .pagination-item-current:hover,
  .pagination-item-current:focus,
  .pagination-item-current:active {
    background-color: var(--basick-white);
    border: 3px solid var(--active-extra-dark);
    box-shadow: none;
    box-sizing: border-box;
  }    

/* Footer */
.map {
  position: relative;
  min-height: 416px;
}

.map img {
    width: 100%;
    min-height: 416px;
    position: relative;
    position: absolute;
}

.map iframe {
  position: absolute;
  width: 100%;
  height: 416px;
  position: relative;
}

.address-wrapper {
    margin: 0 auto;
    width: 1161px;
    position: relative;
    
}

.address {
    position: absolute;
    background-color: var(--basick-white);
    bottom: 70px;
    box-sizing: border-box;
    padding-top: 49px;
    padding-left: 50px;
    padding-right: 45px;
    padding-bottom: 47px;
    margin: 0 auto;
   }

.map-titel {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin-bottom: 23px;
}

.address p {
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 10px;
    margin: 0;
    color: var(--special-white);
    margin-top: 7px;
   
}

.address a {
   margin-top: 27px;
   margin-bottom: 12px;

}


.map-button {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basick-white);
    background-color: var(--normal-red);
    display: inline-block;
    padding: 17px;
    width: 185px;
    border-radius: 3px;
    cursor: pointer;
}

.map-button:hover,
.map-button:focus {
    background-color: var(--focus-red);
}

.map-button:active,
.map-buttonprice:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* Social */

/* Socoal flex */

.footer-social {
    display: flex;
    /* padding-left: 40px;
    margin-left: 20px; */
    margin: 0 auto;
    padding: 0 10px;
    margin-top: 70px;
    margin-bottom: 68px;
    width: 1157px;
}

.social-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    
}

.footer-slogan {
    margin-left: 129px;
    padding-top: 5px;
}


.social-icon {
    background-color: var(--active-dark);
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 12px;
    width: 78px;
    height: 78px;
}

.social-link {
    display: inline-block;
    padding: 27px;
    cursor: pointer;
}



.social-list .social-icon:hover,
.social-list .social-icon:focus {
    background-color: var(--focus-red);
    
}

.social-list .social-icon:active,
.social-list .social-icon:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
    
}

.footer-copyright {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 10px;
}

.footer-copyright2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}


/* Popua */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:  auto;
    background-color: var(--basick-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    display: none;
}

.modal-map {
    width: 960px;
    padding-top: 63px;
    padding-bottom: 84px;
    padding-left: 100px;
    padding-right: 99px;
    top: 80px;
    bottom: auto;
   
}

.modal-form {
    display: block;
}

.modal-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 760px;
}

.modal-form label {
    display: block;
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-black);
}

.modal-container 
.modal-row1 {
    margin-right: 40px;
}

.modal-row1, .modal-row2 {
    width: 360px;
    margin: 0;
    padding: 0;
}
.modal-row1 input, .modal-row2 input {
    width: 360px;
}

.modal-container2 {
    padding-top: 34px;
}


.modal-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
    margin: 0;
    margin-bottom:  37px;
    
}


.modal-container input,
.modal-container2 textarea {
    background: var(--basick-white);
    border: 2px solid var(--text-table-dark);
    box-sizing: border-box;
    border-radius: 3px;
    padding: 16px;
}

.modal-container2 textarea {
    width: 100%;
    min-height: 118px;
    margin-bottom: 47px;
}

.modal-container input:hover,
.modal-container2 textarea:hover {
    border-color: var(--focus-table-dark);
}

.modal-container input:focus,
.modal-container2 textarea:focus {
    border-color: var(--basic-black);
    color: var(--basic-black);
}

.modal-container input:active,
.modal-container2 textarea:active {
    border-color: var(--active-red);
    
}

.modal-button {
    font: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: var(--basick-white);
    background-color: var(--normal-red);
    border: none;
    display: inline-block;
    padding: 16px;
    width: 259px;
    border-radius: 3px;
   
}

.modal-button:hover,
.modal-button:focus {
    background-color: var(--focus-red);
}

.modal-button:active,
.modal-button:focus {
    background-color: var(--active-red);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.modal-close {
    position: absolute;
    cursor: pointer;
    top: 78px;
    right: 90px;
    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active,
.modal-close:focus {
    opacity: 0.1;
}

